<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <title>{{ page.title | default: site.title }}</title>
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <!-- Profile image and Resume link -->
      <img src="{{ '/assets/img/headshot_circle.png' | relative_url }}" alt="Aidan Reilly" style="width: 150px; height: 150px; border-radius: 50%;">
      <a href="{{ '/assets/resume/Resume_github_15.pdf' | relative_url }}">Download Resume</a>
    </div>
    <div class="main">
      <!-- Main content -->
      {{ content }}
    </div>
  </div>
</body>
</html>
